[submodule "themes/ikuta-minimal-theme"]
	path = themes/ikuta-minimal-theme
	url = https://github.com/masa162/ikuta-minimal-theme.git
[submodule "themes/PaperMod"]
	path = themes/PaperMod
	url = https://github.com/adityatelange/hugo-PaperMod.git
